.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 20px;
    font-size: 35px;
    border: 3px solid #141313;
}
button{
    font-size: 38px;
    background-color: rgb(231, 206, 206);
    width: 102px;
    height: 78px;
    border-radius: 20px;
}
.calculator{
    background-color: #333232;
    padding: 20px;
    display:inline-block;
}